@media(min-width: 768px) {
    .news-input {
        width: 50%;
    }
}

body::before {
    display:block;
    content: '';
    height: 60px;
}

#map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.logo {
    width: 30px;
}

.finalProjectBG, .otherProjectsBG, footer {
    background-color: #101D2D;
}

.navBackground {
    background-color: #111827;
}

.roadmapImg {
    width: 200px;
}

.noBullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.otherProjectPics {
    height: 200px;
}

#contact, .contactList {
    background-color: #e1e6eb;
}

.smallList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}