@media(min-width: 768px) {
    .news-input {
        width: 50%;
    }
}

body::before {
    display:block;
    content: '';
    height: 60px;
}

#map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.logo {
    width: 30px;
}

.finalProjectBG {
    background-color: #101D2D;
}

.navBackground {
    background-color: #111827;
}

.roadmapImg {
    width: 200px;
}

